.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mainImagesWrapper {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 65px;
        margin-left: 255px;
        .imageWrapper {
            margin: 5px;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    .btn {
        cursor: pointer;
        margin-top: 20px;
        height: 31px;
        width: 105px;
    }

}

.dynamicView {
    margin-left: 5px !important;
}